:root {
  --background: #7dacc5;
  --neutral: #f1ebd9;
  --foreground: #49281b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
  justify-content: center;
  text-align: center;
}

td {
  background-color: var(--foreground);
  border-radius: 3vh;
  font-size: 3em;
  height: 30vh;
  user-select: none;
  width: 30vh;
}

