:root {
  --background: #7dacc5;
  --neutral: #f1ebd9;
  --foreground: #49281b;
  --good: #7dc596;
  --ok:  #c5ba7d;
  --bad: #c4d9e5;
  --error: #aa4c5a;
}

body {
  background-color: var(--background);
  display: grid;
  font-size: 1.25em;
  justify-content: center;
  text-align: center;
}


