:root {
  --background: #814730;
  --neutral: #49281b;
  --foreground: #f1ebd9;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

button {
  border-radius: 0.25em;
  font-size: 0.9em;
}

div.hidden-modal {
  opacity: 0 !important;
  z-index: -99 !important;
}

div.modal {
  background-color: var(--foreground);
  color: var(--neutral);
  font-weight: bold;
  height: 100vh;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  opacity: 0.8;
  padding-top: calc(50vh - 0.5em - 40px);
  position: absolute;
  top: 0;
  transition: opacity 1s;
  width: 100vw;
  z-index: 99;
}

div.panel {
  width: 50vw;
}

td {
  background-color: var(--foreground);
  border-radius: 3vh;
  font-size: 3em;
  height: 30vh;
  user-select: none;
  width: 30vh;
}

td.answering {
	border: 0.25em solid var(--neutral);
	height: calc(30vh - 0.5em);
	width: calc(30vh - 0.5em);
}

td.empty {
  opacity: 0.5;
}

.correct-answer {
  border: 0.25em solid #7dc596;
}

.guessed-answer {
  color: var(--foreground);
  font-weight: bold;
}

.winning-side {
  background-color: var(--neutral);
}
#who-plays {
  font-size: 2em;
  border-bottom: 1px solid var(--foreground);
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 25%;
  background: var(--background);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

